[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"
jki-python-bridge-for-labview = "==5.0.1"
snntorch = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python server.py"
