[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
numpy = "*"
matplotlib = "*"
jki-python-bridge-for-labview = "==5.0.1"
snntorch = "*"
torch = "*"
brian2 = "*"
pytest = "*"
ipykernel = "*"
keras = "*"
tensorflow-macos = "*"
opencv-python = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python server.py"
